Credit risk analytics

In [231]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor
import scipy.stats as stats

import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split

In [232]:
from sklearn.metrics import roc_auc_score, confusion_matrix, classification_report, accuracy_score

In [233]:
loan = pd.read_csv('C:/Alabs/Datasets/bankloans - 1656936041780.csv', sep= ',')
loan

     age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0     41   3      17       12     176      9.3  11.359392  5.008608      1.0
1     27   1      10        6      31     17.3   1.362202  4.000798      0.0
2     40   1      15       14      55      5.5   0.856075  2.168925      0.0
3     41   1      15       14     120      2.9   2.658720  0.821280      0.0
4     24   2       2        0      28     17.3   1.787436  3.056564      1.0
..   ...  ..     ...      ...     ...      ...        ...       ...      ...
845   34   1      12       15      32      2.7   0.239328  0.624672      NaN
846   32   2      12       11     116      5.7   4.026708  2.585292      NaN
847   48   1      13       11      38     10.8   0.722304  3.381696      NaN
848   35   2       1       11      24      7.8   0.417456  1.454544      NaN
849   37   1      20       13      41     12.9   0.899130  4.389870      NaN

[850 rows x 9 columns]

In [234]:
def fn_desc( x ):
    # missing values calculation
    ntot = x.shape[0]
    n = x.count()
    n_miss = ntot - n
    n_miss_perc = n_miss/ntot
    
    # get the lc and uc using IQR
    q1 = x.quantile(0.25)
    q3 = x.quantile(0.75)
    IQR = q3 - q1
    lc_iqr = q1 - 1.5 * IQR
    uc_iqr = q3 + 1.5 * IQR
    
    # return the descriptives
    
    return pd.Series([x.dtype, x.nunique(),
                       ntot, n, n_miss, n_miss_perc,
                      IQR, lc_iqr, uc_iqr,
                      x.sum(), x.mean(), x.var(), x.std(),
                      x.min(), 
                      x.quantile(0.01), x.quantile(0.05), x.quantile(0.10), 
                      x.quantile(0.25), x.quantile(0.5), x.quantile(0.75), 
                      x.quantile(0.90), x.quantile(0.95), x.quantile(0.99), 
                      x.max() ],
                     index = ['dtype', 'cardinality',
                               'ntot', 'n', 'n_miss', 'n_miss_perc',
                              'IQR', 'lc_iqr', 'uc_iqr',
                              'sum', 'mean', 'var', 'std',
                              'min', 
                              'p1', 'p5', 'p10', 
                              'p25', 'p50', 'p75', 
                              'p90', 'p95', 'p99',
                              'max' ])

In [236]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       850 non-null    int64
 1   ed        850 non-null    int64
 2   employ    850 non-null    int64
 3   address   850 non-null    int64
 4   income    850 non-null    int64
 5   debtinc   850 non-null    float64
 6   creddebt  850 non-null    float64
 7   othdebt   850 non-null    float64
 8   default   700 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 59.9 KB

In [237]:
loan.default.value_counts()

default
0.0    517
1.0    183
Name: count, dtype: int64

In [238]:
loan.default.notna().sum()

700

In [239]:
loan.default.value_counts() / loan.default.notna().sum()

default
0.0    0.738571
1.0    0.261429
Name: count, dtype: float64

Since 150 records do not have a label, dividing the dataset into 2 parts 'exist_loan' and 'new_loan'

In [240]:
exist_loan = loan[loan.default.notna()]
exist_loan.head()

   age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0   41   3      17       12     176      9.3  11.359392  5.008608      1.0
1   27   1      10        6      31     17.3   1.362202  4.000798      0.0
2   40   1      15       14      55      5.5   0.856075  2.168925      0.0
3   41   1      15       14     120      2.9   2.658720  0.821280      0.0
4   24   2       2        0      28     17.3   1.787436  3.056564      1.0

In [241]:
new_loan = loan[loan.default.isna()]
new_loan.head()

     age  ed  employ  address  income  debtinc  creddebt   othdebt  default
700   36   1      16       13      32     10.9  0.544128  2.943872      NaN
701   50   1       6       27      21     12.9  1.316574  1.392426      NaN
702   40   1       9        9      33     17.0  4.880700  0.729300      NaN
703   31   1       5        7      23      2.0  0.046000  0.414000      NaN
704   29   1       4        0      24      7.8  0.866736  1.005264      NaN

In [242]:
exist_loan.shape

(700, 9)

In [243]:
new_loan.shape

(150, 9)

In [244]:
exist_loan.apply( fn_desc)

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default
dtype,int64,int64,int64,int64,int64,float64,float64,float64,float64
cardinality,37,5,32,31,114,231,695,699,2
ntot,700,700,700,700,700,700,700,700,700
n,700,700,700,700,700,700,700,700,700
n_miss,0,0,0,0,0,0,0,0,0
n_miss_perc,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
IQR,11.0,1.0,9.0,9.0,31.0,9.125,1.532896,2.878887,1.0
lc_iqr,12.5,-0.5,-10.5,-10.5,-22.5,-8.6875,-1.930284,-3.274152,-1.5
uc_iqr,56.5,3.5,25.5,25.5,101.5,27.8125,4.201299,8.241395,2.5
sum,24402,1206,5872,5795,31921,7182.4,1087.486972,2140.746028,183.0
mean,34.86,1.722857,8.388571,8.278571,45.601429,10.260571,1.553553,3.058209,0.261429
var,63.957482,0.861566,44.329483,46.578939,1355.287265,46.611118,4.482523,10.808015,0.19336
std,7.997342,0.928206,6.658039,6.824877,36.814226,6.827234,2.117197,3.287555,0.439727
min,20,1,0,0,14,0.4,0.011696,0.045584,0.0
p1,21.0,1.0,0.0,0.0,15.0,0.9,0.030209,0.160936,0.0
p5,23.0,1.0,0.0,0.0,17.0,1.9,0.107029,0.376727,0.0
p10,25.0,1.0,1.0,1.0,19.0,2.9,0.17002,0.562232,0.0
p25,29.0,1.0,3.0,3.0,24.0,5.0,0.369059,1.044178,0.0
p50,34.0,1.0,7.0,7.0,34.0,8.6,0.854869,1.987567,0.0
p75,40.0,2.0,12.0,12.0,55.0,14.125,1.901955,3.923065,1.0
p90,46.0,3.0,18.0,18.0,82.0,19.61,3.621504,7.03618,1.0
p95,49.0,4.0,21.05,22.0,113.0,23.8,5.098264,9.501648,1.0
p99,53.01,4.0,27.01,26.01,190.3,30.701,9.891428,17.184744,1.0
max,56,5,31,34,446,41.3,20.56131,27.0336,1.0

In [247]:
exist_loan.columns.difference(['ed'])

Index(['address', 'age', 'creddebt', 'debtinc', 'default', 'employ', 'income',
       'othdebt'],
      dtype='object')

In [ ]:
# separating categorical and continuous variables
cat = exist_loan['ed']
cont = exist_loan[exist_loan.columns.difference(['ed'])]

In [221]:
def impute_outlier_iqr(df):
    cols = df.columns
    q1 = df[cols].quantile(0.25)
    q3 = df[cols].quantile(0.75)
    iqr = q3 - q1
    lc = q1 - (1.5 * iqr)
    uc = q3 + (1.5 * iqr)

    df = np.clip(df, lc, uc, axis = 1 )
    return df

In [249]:
exist_loan = impute_outlier_iqr(cont)

In [250]:
cont.apply(fn_desc)

,address,age,creddebt,debtinc,default,employ,income,othdebt
dtype,int64,int64,float64,float64,float64,int64,int64,float64
cardinality,31,37,695,231,2,32,114,699
ntot,700,700,700,700,700,700,700,700
n,700,700,700,700,700,700,700,700
n_miss,0,0,0,0,0,0,0,0
n_miss_perc,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
IQR,9.0,11.0,1.532896,9.125,1.0,9.0,31.0,2.878887
lc_iqr,-10.5,12.5,-1.930284,-8.6875,-1.5,-10.5,-22.5,-3.274152
uc_iqr,25.5,56.5,4.201299,27.8125,2.5,25.5,101.5,8.241395
sum,5795,24402,1087.486972,7182.4,183.0,5872,31921,2140.746028
mean,8.278571,34.86,1.553553,10.260571,0.261429,8.388571,45.601429,3.058209
var,46.578939,63.957482,4.482523,46.611118,0.19336,44.329483,1355.287265,10.808015
std,6.824877,7.997342,2.117197,6.827234,0.439727,6.658039,36.814226,3.287555
min,0,20,0.011696,0.4,0.0,0,14,0.045584
p1,0.0,21.0,0.030209,0.9,0.0,0.0,15.0,0.160936
p5,0.0,23.0,0.107029,1.9,0.0,0.0,17.0,0.376727
p10,1.0,25.0,0.17002,2.9,0.0,1.0,19.0,0.562232
p25,3.0,29.0,0.369059,5.0,0.0,3.0,24.0,1.044178
p50,7.0,34.0,0.854869,8.6,0.0,7.0,34.0,1.987567
p75,12.0,40.0,1.901955,14.125,1.0,12.0,55.0,3.923065
p90,18.0,46.0,3.621504,19.61,1.0,18.0,82.0,7.03618
p95,22.0,49.0,5.098264,23.8,1.0,21.05,113.0,9.501648
p99,26.01,53.01,9.891428,30.701,1.0,27.01,190.3,17.184744
max,34,56,20.56131,41.3,1.0,31,446,27.0336

In [255]:
exist_loan_OT = pd.concat([cont, cat], axis = 1 )
exist_loan_OT

     address  age   creddebt  debtinc  default  employ  income   othdebt  ed
0         12   41  11.359392      9.3      1.0      17     176  5.008608   3
1          6   27   1.362202     17.3      0.0      10      31  4.000798   1
2         14   40   0.856075      5.5      0.0      15      55  2.168925   1
3         14   41   2.658720      2.9      0.0      15     120  0.821280   1
4          0   24   1.787436     17.3      1.0       2      28  3.056564   2
..       ...  ...        ...      ...      ...     ...     ...       ...  ..
695       15   36   0.262062      4.6      1.0       6      27  0.979938   2
696        4   29   0.369495     11.5      0.0       6      21  2.045505   2
697        3   33   0.491264      7.6      0.0      15      32  1.940736   1
698       22   45   2.302608      8.4      0.0      19      77  4.165392   1
699       14   37   2.994684     14.7      0.0      12      44  3.473316   1

[700 rows x 9 columns]